lexors/dunlop/Seeburger/deljit/seeburger.deljit.v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DELJIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DELIVERY">
          <xs:complexType>
            <xs:attribute name="MFC" type="xs:string" use="required" />
            <xs:attribute name="IVNUM" type="xs:string" use="required" />
            <xs:attribute name="SF_ADDRESS" type="xs:string" use="required" />
            <xs:attribute name="SF_ADDRESS_B" type="xs:string" use="required" />
            <xs:attribute name="SF_ADDRESS_C" type="xs:string" use="required" />
            <xs:attribute name="SF_CITY" type="xs:string" use="required" />
            <xs:attribute name="SF_ZIP" type="xs:string" use="required" />
            <xs:attribute name="ST_ADDRESS" type="xs:string" use="required" />
            <xs:attribute name="ST_ADDRESS_B" type="xs:string" use="required" />
            <xs:attribute name="ST_ADDRESS_C" type="xs:string" use="required" />
            <xs:attribute name="ST_CITY" type="xs:string" use="required" />
            <xs:attribute name="ST_ZIP" type="xs:string" use="required" />
            <xs:attribute name="CONTACT" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="ITEM">
          <xs:complexType>
            <xs:attribute name="line" type="xs:integer" use="required" />
            <xs:attribute name="ZDSC_DJIT_ITEM" type="xs:string" use="required" />
            <xs:attribute name="TRANS_STAGE_QUAL" type="xs:string" use="required" />
            <xs:attribute name="CARRIERCODE" type="xs:string" use="required" />
            <xs:attribute name="CARRIERID" type="xs:string" use="required" />
            <xs:attribute name="CLISTAGCODE" type="xs:string" use="required" />
            <xs:attribute name="TDICODE" type="xs:string" use="required" />
            <xs:attribute name="LOCCODE" type="xs:string" use="required" />
            <xs:attribute name="LOCNAME" type="xs:string" use="required" />
            <xs:attribute name="DELVDATE" type="xs:dateTime" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="IVNUM" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>