runbat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="runbatconfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="loc">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="bin" type="xs:string" use="required" />
            <xs:attribute name="environment" type="xs:string" use="required" />
            <xs:attribute name="filetype" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>