lexors/esterform/Esterform/example.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="scan">
          <xs:complexType>
            <xs:attribute name="SERIALNAME" type="xs:unsignedShort" use="required" />
            <xs:attribute name="TOPALLETNAME" type="xs:unsignedByte" use="required" />
            <xs:attribute name="OPERATION" type="xs:string" use="required" />
            <xs:attribute name="STARTDATE" type="xs:string" use="required" />
            <xs:attribute name="STARTTIME" type="xs:string" use="required" />
            <xs:attribute name="ENDTIME" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>